body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}



/* Pricing Section */

#pricing {
  padding: 30px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;

}

.card-body li{
  text-align: left;
}


/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.about{
  color: #ffffff;
  font-size: 20px;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 4% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  color: #ffffff;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}


/* Footer Section */
.social-icon {
  margin: 20px 40px;
  height: 40px;
  color: #fff;
}

#bottom{
  background-color: #ff4c68;
}
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
